# Dependencias
**/node_modules/
**/.dart_tool/
**/build/
**/dist/

# IDEs
.idea/
.vscode/
*.iml
.DS_Store

# Variables de entorno (sensibles)
**/.env
!**/.env.example

# Logs
*.log
logs/

# Flutter
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock

# Backend
**/coverage/

.claude/
**/.claude/
CLAUDE.md
